{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style src="{% static 'css/style.css' %}">
</style>
<body>

    <script src="{% static 'js/scripts.js' %}"></script>

    <h1>Log in</h1>
    

    <form method = 'POST' class="form-horizontal" action = "{% url 'login_url' %}">
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
            {% csrf_token %}
            {{form.as_p}}
          <button type="submit" class="btn btn-default">Submit</button>
          <a class="btn btn-lg" href="{% url 'register_url' %}">Register</a>
          
        </div>
      </div>
    </form>

</body>
</html>
