{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style src="{% static 'css/style.css' %}">
</style>

<body>

    <script src="{% static 'js/scripts.js' %}"></script>

    <h1>Sign in</h1>
    
    <div class="sign">
      <form method = 'POST'>
          {% csrf_token %}
          {{form.as_p}}
        <button class="btn btn-lg btn-primary btn-block">Register</button>
      </form>
    </div>
 



  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form method = 'POST'>
              	{%csrf_token %}
              	{{form.as_p}}
    <button class="btn btn-lg btn-primary btn-block">Login</button>
    </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->


</body>
</html>
